kind: HorizontalPodAutoscaler
apiVersion: autoscaling/v2
metadata:
  name: backend-hpa
  namespace: devtask
spec:
  scaleTargetRef:
    kind: Deployment
    apiVersion: apps/v1
    name: backend
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50